<h2>Wer wir sind</h2>

<p>
Der Magento Stammtisch Paderborn richtet sich an alle eCommerce Begeisterte, Shop-Betreiber, Entwickler, Agenturen und auch Dienstleister. Der Stammtisch findet im Technologiepark in Paderborn statt. Unsere Gäste kommen überwiegend aus Ostwestfalen-Lippe, also aus den Kreisen Bielefeld, Gütersloh, Herford, Höxter, Lippe, Minden und Paderborn.</p>
<p>
Der Abend beginnt um 19 Uhr. Die Teilnehmer erhalten die Gelegenheit, sich mit Getränken zu versorgen und miteinander ins Gespräch zu kommen. Gegen 19:15 Uhr wird der Stammtisch mit einer kleinen Vorstellrunde eröffnet. Danach gibt es zwei Themen, die entweder in einem Vortrag behandelt oder im Rahmen einer Diskussionsrunde erörtert werden.</p>
<p>
Im Anschluss an die beiden offiziellen Stammtisch-Themen tauschen wir uns in einem gemeinsamen, freien Gespräch über die vielfältigen Probleme und Fragen rund um „Magento“, „Online Shopping“ und „Agentur Geschäft“ aus.</p>
