<h2>Wer wir sind</h2>

<p>
	Der Magento Stammtisch OWL ist an Shop-Betreiber, Entwickler, Agenturen oder auch Dienstleister gerichtet. Der Stammtisch findet vorwiegend in Paderborn und Bielefeld statt. Bei unseren Stammtischen haben wir vorwiegend Gäste aus Ostwestfalen-Lippe, welches aus den Kreisen Bielefeld, Gütersloh, Herford, Höxter, Lippe, Minden und Paderborn besteht.
</p>
<p>
	Der Abend beginnt ab 19 Uhr, sobald alle Teilnehmer bereits ins Gespräch gekommen sind und mit Getränke versorgt haben. Ab 19:30 Uhr wird der Stammtisch mit einer kleinen Vorstellrunde eröffnet. Danach gibt es zwei Themen, die bearbeitet werden. Die Themen können aus einen Vortrag oder einer Diskussionsrunde bestehen.
</p>
<p>
	Nach den zwei Themen tauschen wir uns gemeinsam über die vielfältigen Themen rund um Magento, Online Shopping und Agentur Geschäft aus.
</p>
