<h2>Kontakt</h2>
<p>
	Wir würden uns freuen, wenn Shop-Betreiber, Agenturen, Entwickler und Magento Interessierte zusammen kommen. Wir sind offen für Themenvorschläge.
</p>
<p>
	Um auf dem Laufenden zu bleiben, empfehlen wir den Betritt unserer Mailingliste.
</p>
<div class="wrapper">
	<section id="contact-mail">
		<h3>E-Mail</h3>
		<p><a href="mailto:info@maxcluster.de">info@magento-stammtisch-paderborn.de</a></p>
	</section>
	<section id="contact-mailinglist">
		<h3>XING</h3>
		<p><a href="https://www.xing.com/events/16-magento-stammtisch-paderborn-1965610">XING</a></p>
	</section>
	<section id="contact-twitter">
		<h3>Twitter</h3>
		<p><a href="https://twitter.com/magentoOwl">@magentoOwl</a></p>
	</section>
</div>

